@model baykan.Models.Product

@{
    bool isAuthenticated = Session["UserId"] != null;
}

<div class="product text-center col-lg-3 col-md-4 col-12">
    <a href="@Url.Action("Details", "Products", new { id = Model.ProductId })">
        @if (Model.ProductImage != null && Model.ProductImage.Length > 0)
        {
            string base64String = Convert.ToBase64String(Model.ProductImage);
            <img class="img-fluid mb-3" src="data:image/png;base64,@base64String" alt="@Model.ProductName" />
        }
        else
        {
            <img class="img-fluid mb-3" src="~/Content/Images/no-image.png" alt="No Image Available" />
        }
    </a>

    <h5 class="p-name">@Model.ProductName</h5>
    <h4 class="p-price">$@Model.ProductPrice.ToString("N0")</h4>

    @if (!isAuthenticated)
    {
        <button onclick="location.href='@Url.Action("Login", "Account")'" class="buy-btn">Add to Cart</button>
    }
    else
    {
        <button class="buy-btn add-to-cart" data-productid="@Model.ProductId">Add to Cart</button>
    }

</div>
